# Licensed ZoomInfo export and anything derived that carries contact
# details. The repo is public; the compiled contact set must not be.
data/dealers-private.json
data/dealers-raw.json
data/cities-todo.json
*.csv
.netlify/
